node_modules
dist
android
ios
.idea
.vscode
.DS_Store
*.local
.capacitor
logs
*.log
unity/SliceBlast/Screenshots/
unity/SliceBlast/Library/
unity/SliceBlast/Temp/
unity/SliceBlast/Logs/
unity/SliceBlast/obj/
